<div class="sage-pay">
  Secured by
  <%= image_tag "footer-sage-pay.png", :alt => "Sage Pay" %>
</div>
<div class="card-acceptance">
  We accept
  <%= image_tag "footer-card-acceptance.png", :alt => "MasterCard, Visa, Visa Debit, Visa Electron" %>
</div>
